/* Section Main */

#contact{
    width: 80%;
    display: flex;
    justify-content: flex-start;
    margin: 3em;
}
.left, .right{
    width: 50%;
    padding: 1em 0 5em 0;
}
.left{
    h1 {
            color: darkcyan;
            font-size: 2.8rem;
            padding-bottom: 0.5em;
        }
        p, a{
        font-size: 1.8rem;
        padding: 0.5em 0 0.5em 0;
        }
        p{font-weight: bold;
        }
}
#right{
    display: flex;
    flex-wrap: wrap;
    div{
        width: 50%;
    }
}
#nom,#Pnom,#email,#objet{
    height: 2em;
    width: 90%;
}
label{
    font-size: 1.5rem;
}
#message{
    height: 15em;
    width: 90%;
}
#send{
    margin: auto;
    width: 8em;
    height: 8em;
    border-radius: 50%;
    border: none;
    font-size: 1.2rem;
    text-align: center;
    line-height: 5em;
    background: yellow;
    color: darkcyan;
}
.send{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Partie Responsive */

@media screen and (max-width: 800px) {

    /* Main */
    #contact{
        flex-direction: column;
        justify-content: center;
    }
    .left, .right{
    width: 100%;
    padding: 1em 0 5em 0;
}
}

@media screen and (max-width: 650px) {

    /* Main */
   #right{
    div{
        width: 100%;
        }
    }
    #send{
margin-top: 0.5em;
    }
}

@media screen and (max-width: 356px) {

    /* Main */
.left{
    h1{
        font-size: 1.8rem;
    }
    p,a{
        font-size: 1rem;
    }
}
label{
    font-size: 1rem;
}
#send{
    font-size: 1rem;
}
}