@media screen and (max-width: 800px) {
    footer {
        height: 18vh;
        flex-wrap: wrap;
        .MyFooter {
            width: 50%;
            padding: 0.1em 0 0.1em 0;
        }
    }
}
@media screen and (max-width: 650px) {
    header,
    footer {
        a,
        p {
            font-size: 1rem;
        }
    }
}

@media screen and (max-width: 498px) {
    header,
    footer {
        height: 7vh;
        flex-wrap: wrap;
        justify-content: center;
        gap: 0.5em;

        .MyFooter {
            width: 100%;
            text-align: center;
            padding: 0.1em 0 0.1em 0;
        }
    }
    .Me,
    .info {
        justify-content: center;
        text-align: center;
        width: 100%;
    }
    footer {
        height: 32vh;
    }
}